.Wrapper {
}

.Projects {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .Projects {
    flex-direction: column;
  }
}

.Title {
  font-size: 24px;
  color: rgba(19, 73, 112, 0.95);
  margin: 0;
}
.Description {
  font-size: 22px;
  margin: 0;
}

.TitleContainer {
  width: 100%;
  padding: 10px;
  background: #efefef;
}
